.container{
	display: flex;
	justify-content: flex-end;
}

.rightCon{
	margin-right: 2em;
}

.hover{
	transition: .1s;
}

.hover:hover{
	background-color: #444444aa;
}

.signText{
	font-size: 1.4em;
	padding: .6em;
	border-radius: 1em;
}