.Tilt{
	background-color: none;
	color: #ffffff;
	border-radius: 1em;
	font-size: 5em;
	padding-bottom: .1em;
}

.Tilt:hover{
	background-color: #3399ffaa;
}

.logoText{
	text-shadow: 0 0 .3em black;
	cursor: default;
}