.App {
  text-align: center;
}

.flexCenter{
  display: flex;
  justify-content: center;
  align-items: center;
}

.flexSpace{
  display: flex;
  justify-content: space-between;
}

.topCon{
  margin: 2em;
}
